
{% load static %}
{% block add_news %}
<h2>Create News</h2>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<div class="content container">
    <div class="row">
        <div class="col-md-2">
            <form method="post" enctype="multipart/form-data" action="">

                {% csrf_token %}
                {{form}}


                {{ formset.management_form }}
                {% for forms in formset %}
                    {{ forms }}
                {% endfor %}


                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    </div>
</div>
{% endblock add_news %}

